@using ReferenceWebApp.Models
@model System.Collections.Generic.IEnumerable<ReferenceWebApp.Models.ClaimType>
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
@foreach (var claimType in Model)
{
    <div>
        @claimType.Type
        @claimType.Value
    </div>
}